CCWFM/Service References/LkpData/LkpData1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LkpData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_LkpData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="" location="http://localhost:18559/Service/LkpData/LkpData.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_LkpData" type="LkpData">
    <wsp:PolicyReference URI="#CustomBinding_LkpData_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTblFactoryDelivery">
      <soap12:operation soapAction="urn:LkpData/GetTblFactoryDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblFactoryDelivery">
      <soap12:operation soapAction="urn:LkpData/UpdateOrInsertTblFactoryDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblFactoryDelivery">
      <soap12:operation soapAction="urn:LkpData/DeleteTblFactoryDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblDirection">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblDirection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblStyleCategory">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblStyleCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblFamily">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblSubFamily">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblSubFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblDirectionLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblDirectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblThemeLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblThemeLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblSubFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblSubFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetRepeatedStyles">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetRepeatedStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblLkpBrandSectionLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblLkpBrandSectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblLkpDirectionLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblLkpDirectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblStyleCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblStyleCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblSubFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblSubFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTblStyleTNA">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTblStyleTNA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_GetTNARouteByStyle">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_GetTNARouteByStyle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamilyCategory_UpdateOrDeleteTblStyleTNARoute">
      <soap12:operation soapAction="urn:LkpData/FamilyCategory_UpdateOrDeleteTblStyleTNARoute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStyleImageFromFolder">
      <soap12:operation soapAction="urn:LkpData/InsertStyleImageFromFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStyleImageFromFolder">
      <soap12:operation soapAction="urn:LkpData/GetStyleImageFromFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStyleSpecDetails">
      <soap12:operation soapAction="urn:LkpData/GetStyleSpecDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleSpecTypes">
      <soap12:operation soapAction="urn:LkpData/GetTblStyleSpecTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertStyleSpecDetails">
      <soap12:operation soapAction="urn:LkpData/UpdateOrInsertStyleSpecDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStyleSpecDetailRow">
      <soap12:operation soapAction="urn:LkpData/DeleteStyleSpecDetailRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleSpecDetailAttachment">
      <soap12:operation soapAction="urn:LkpData/GetTblStyleSpecDetailAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblStyleSpecDetailAttachmentRow">
      <soap12:operation soapAction="urn:LkpData/DeleteTblStyleSpecDetailAttachmentRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblStyleTNADetailAttachmentRow">
      <soap12:operation soapAction="urn:LkpData/DeleteTblStyleTNADetailAttachmentRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadStyleImage">
      <soap12:operation soapAction="urn:LkpData/UploadStyleImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadStyleTNADetailFiles">
      <soap12:operation soapAction="urn:LkpData/UploadStyleTNADetailFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNADetailAttachment">
      <soap12:operation soapAction="urn:LkpData/GetTblStyleTNADetailAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTBLTechPackStatus">
      <soap12:operation soapAction="urn:LkpData/GetTBLTechPackStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTBLTechPackParts">
      <soap12:operation soapAction="urn:LkpData/GetTBLTechPackParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTBLTechPackDetails">
      <soap12:operation soapAction="urn:LkpData/GetTBLTechPackDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateTBLTechPackHeader">
      <soap12:operation soapAction="urn:LkpData/InsertOrUpdateTBLTechPackHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdateTBLTechPackDetail">
      <soap12:operation soapAction="urn:LkpData/InsertOrUpdateTBLTechPackDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanChangeDeliveryDate">
      <soap12:operation soapAction="urn:LkpData/CanChangeDeliveryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTBLTechPackBOMComment">
      <soap12:operation soapAction="urn:LkpData/GetTBLTechPackBOMComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTechPackBOMComment">
      <soap12:operation soapAction="urn:LkpData/UpdateOrInsertTechPackBOMComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTechPackDesignDetails">
      <soap12:operation soapAction="urn:LkpData/DeleteTechPackDesignDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTechPackBOMStyles">
      <soap12:operation soapAction="urn:LkpData/GetCurrentTechPackBOMStyles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblSalesOrderColor">
      <soap12:operation soapAction="urn:LkpData/GetTblSalesOrderColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesOrderColorCancelRequest">
      <soap12:operation soapAction="urn:LkpData/UpdateSalesOrderColorCancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveSalesOrderColorCancelRequest">
      <soap12:operation soapAction="urn:LkpData/ApproveSalesOrderColorCancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckApprovedSalesOrderColorCancelRequest">
      <soap12:operation soapAction="urn:LkpData/CheckApprovedSalesOrderColorCancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNARouteStatus">
      <soap12:operation soapAction="urn:LkpData/GetTblStyleTNARouteStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettblFormLayoutDefault">
      <soap12:operation soapAction="urn:LkpData/GettblFormLayoutDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettblFormLayoutByUser">
      <soap12:operation soapAction="urn:LkpData/GettblFormLayoutByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrDeletetblFormLayoutUsers">
      <soap12:operation soapAction="urn:LkpData/UpdateOrDeletetblFormLayoutUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTBLsupplier">
      <soap12:operation soapAction="urn:LkpData/GetTBLsupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblBrandSectionLink">
      <soap12:operation soapAction="urn:LkpData/GetTblBrandSectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblAllBrandSectionLink">
      <soap12:operation soapAction="urn:LkpData/GetTblAllBrandSectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrDeleteTblLkpBrandSectionLink">
      <soap12:operation soapAction="urn:LkpData/UpdateOrDeleteTblLkpBrandSectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblFamilyLink">
      <soap12:operation soapAction="urn:LkpData/GetTblFamilyLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/GetTblFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrDeleteTblFamilyLink">
      <soap12:operation soapAction="urn:LkpData/UpdateOrDeleteTblFamilyLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblSubFamilyLink">
      <soap12:operation soapAction="urn:LkpData/GetTblSubFamilyLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblSubFamilyCategoryLink">
      <soap12:operation soapAction="urn:LkpData/GetTblSubFamilyCategoryLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrDeleteTblSubFamilyLink">
      <soap12:operation soapAction="urn:LkpData/UpdateOrDeleteTblSubFamilyLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrDeleteTblDirectionLink">
      <soap12:operation soapAction="urn:LkpData/UpdateOrDeleteTblDirectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblDirectionLink">
      <soap12:operation soapAction="urn:LkpData/GetTblDirectionLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHasDBImage">
      <soap12:operation soapAction="urn:LkpData/GetHasDBImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblFamily">
      <soap12:operation soapAction="urn:LkpData/GetTblFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblFamily">
      <soap12:operation soapAction="urn:LkpData/UpdateOrInsertTblFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblFamily">
      <soap12:operation soapAction="urn:LkpData/DeleteTblFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblSubFamily">
      <soap12:operation soapAction="urn:LkpData/GetTblSubFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblSubFamily">
      <soap12:operation soapAction="urn:LkpData/UpdateOrInsertTblSubFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblSubFamily">
      <soap12:operation soapAction="urn:LkpData/DeleteTblSubFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckManualCodeing">
      <soap12:operation soapAction="urn:LkpData/CheckManualCodeing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTNA">
      <soap12:operation soapAction="urn:LkpData/CheckTNA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LkpData">
    <wsdl:port name="CustomBinding_LkpData" binding="tns:CustomBinding_LkpData">
      <soap12:address location="http://localhost:18559/Service/LkpData/LkpData.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:18559/Service/LkpData/LkpData.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>