CCWFM/Service References/WarehouseService/WarehouseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Models.Items" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Models.Items" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfImportedItemDimensionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportedItemDimensionModel" nillable="true" type="tns:ImportedItemDimensionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportedItemDimensionModel" nillable="true" type="tns:ArrayOfImportedItemDimensionModel" />
  <xs:complexType name="ImportedItemDimensionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportedItemDimensionModel" nillable="true" type="tns:ImportedItemDimensionModel" />
</xs:schema>