CCWFM/Service References/AuthService/AuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Models.Inv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Models.Inv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/AuthOp/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" />
  <xs:complexType name="ArrayOfAuthWarehouseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthWarehouseModel" nillable="true" type="tns:AuthWarehouseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthWarehouseModel" nillable="true" type="tns:ArrayOfAuthWarehouseModel" />
  <xs:complexType name="AuthWarehouseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" base="q1:PropertiesViewModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsGranted" type="xs:boolean" />
          <xs:element minOccurs="0" name="WarehoseEname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseIserial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthWarehouseModel" nillable="true" type="tns:AuthWarehouseModel" />
</xs:schema>