CCWFM/Service References/DyeingService/DyeingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/Dyeing/DyeingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:18559/Service/Dyeing/DyeingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
  <xs:import schemaLocation="http://localhost:18559/Service/Dyeing/DyeingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.Dyeing" />
  <xs:element name="GetDyeingOrderInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyeingOrderInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetDyeingOrderInvoiceHeaderResult" nillable="true" type="q2:ArrayOfTblDyeingOrderInvoiceHeader" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="Vendors" nillable="true" type="q3:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDyeingOrderInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="transId" type="xs:int" />
        <xs:element minOccurs="0" name="supplierInvoice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDyeingOrderInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.Dyeing" minOccurs="0" name="SearchDyeingOrderInvoiceResult" nillable="true" type="q4:ArrayOfDyeingService.DyeingOrderInvoiceDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q5:TblDyeingOrderInvoiceHeader" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertDyeingOrderInvoiceHeaderResult" nillable="true" type="q6:TblDyeingOrderInvoiceHeader" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q7:TblDyeingOrderInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDyeingOrderInvoiceHeaderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyeingOrderInvoiceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q8:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyeingOrderInvoiceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetDyeingOrderInvoiceDetailResult" nillable="true" type="q9:ArrayOfTblDyeingOrderInvoiceDetail" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q10:TblDyeingOrderInvoiceDetail" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertDyeingOrderInvoiceDetailResult" nillable="true" type="q11:TblDyeingOrderInvoiceDetail" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q12:TblDyeingOrderInvoiceDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDyeingOrderInvoiceDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDyeingOrderInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q13:TblDyeingOrderInvoiceHeader" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDyeingOrderInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="PostDyeingOrderInvoiceResult" nillable="true" type="q14:TblDyeingOrderInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>