CCWFM/Service References/BankStatService/BankStatService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/BankStatOp/BankStatService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" />
  <xs:complexType name="ArrayOfImportedBankStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportedBankStatement" nillable="true" type="tns:ImportedBankStatement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportedBankStatement" nillable="true" type="tns:ArrayOfImportedBankStatement" />
  <xs:complexType name="ImportedBankStatement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DepositNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportedBankStatement" nillable="true" type="tns:ImportedBankStatement" />
  <xs:complexType name="ArrayOfBankStatMatchingModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankStatMatchingModel" nillable="true" type="tns:BankStatMatchingModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankStatMatchingModel" nillable="true" type="tns:ArrayOfBankStatMatchingModel" />
  <xs:complexType name="BankStatMatchingModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" base="q1:PropertiesViewModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DepositNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLedger" type="xs:boolean" />
          <xs:element minOccurs="0" name="Iserial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankStatMatchingModel" nillable="true" type="tns:BankStatMatchingModel" />
</xs:schema>