CCWFM/Service References/PurchasePlanService/PurchasePlan1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/Operations/PurchasePlan/PurchasePlan.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
  <xs:import schemaLocation="http://localhost:18559/Service/Operations/PurchasePlan/PurchasePlan.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTblPurchaseOrderHeaderRequestPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Iserial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderHeaderRequestPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderHeaderRequestPaymentResult" nillable="true" type="q1:ArrayOfTblPurchaseOrderHeaderRequestPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPruchaseOrderTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Iserial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPruchaseOrderTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTblPruchaseOrderTotalResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeaderRequestPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="ListToSave" nillable="true" type="q2:ArrayOfTblPurchaseOrderHeaderRequestPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeaderRequestPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseOrderHeaderRequestPaymentsResult" nillable="true" type="q3:ArrayOfTblPurchaseOrderHeaderRequestPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeaderRequestPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q4:TblPurchaseOrderHeaderRequestPayment" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeaderRequestPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderHeaderRequestPaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePurchaseOrderHeaderRequestPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TblPurchaseOrderHeaderRequest" type="xs:int" />
        <xs:element minOccurs="0" name="startingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="percentage" type="xs:float" />
        <xs:element minOccurs="0" name="InstallmentCounts" type="xs:float" />
        <xs:element minOccurs="0" name="InstallmentInterval" type="xs:float" />
        <xs:element minOccurs="0" name="amount" type="xs:float" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="setting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePurchaseOrderHeaderRequestPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q5:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderHeaderRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderHeaderRequestResult" nillable="true" type="q6:ArrayOfViewPurchaseOrderHeaderRequest" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="vendorList" nillable="true" type="q7:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q8:TblPurchaseOrderHeaderRequest" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeaderRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseOrderHeaderRequestResult" nillable="true" type="q9:TblPurchaseOrderHeaderRequest" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q10:TblPurchaseOrderHeaderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeaderRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderHeaderRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q11:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderDetailRequestResult" nillable="true" type="q12:ArrayOfTblPurchaseOrderDetailRequest" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="purchaseRec" nillable="true" type="q13:ArrayOfKeyValueOfNullableOfintNullableOfdouble_ShTDFhl_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailRequestByPlanCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vendorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailRequestByPlanCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderDetailRequestByPlanCodeResult" nillable="true" type="q14:ArrayOfTblPurchaseOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsByPlanCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsByPlanCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetVendorsByPlanCodeResult" nillable="true" type="q15:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q16:TblPurchaseOrderDetailRequest" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetailRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseOrderDetailRequestResult" nillable="true" type="q17:TblPurchaseOrderDetailRequest" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q18:TblPurchaseOrderDetailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetailRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderDetailRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseReceiveHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q19:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseReceiveHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseReceiveHeaderResult" nillable="true" type="q20:ArrayOfTblPurchaseReceiveHeader" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseReceiveDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q21:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseReceiveDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseReceiveDetailResult" nillable="true" type="q22:ArrayOfTblPurchaseReceiveDetail" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Color" type="xs:int" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrandSection" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Season" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StyleWithCostPrice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="SearchPurchaseOrderDetailResult" nillable="true" type="q23:ArrayOfTblPurchaseOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseReceiveHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q24:TblPurchaseReceiveHeader" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userIserial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseReceiveHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseReceiveHeaderResult" nillable="true" type="q25:TblPurchaseReceiveHeader" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseReceiveHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q26:TblPurchaseReceiveHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseReceiveHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseReceiveHeaderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseReceiveDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q27:TblPurchaseReceiveDetail" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseReceiveDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseReceiveDetailResult" nillable="true" type="q28:TblPurchaseReceiveDetail" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseReceiveDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q29:TblPurchaseReceiveDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseReceiveDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseReceiveDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblGeneratePurchaseHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q30:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblGeneratePurchaseHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblGeneratePurchaseHeaderResult" nillable="true" type="q31:ArrayOfTblGeneratePurchaseHeader" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePurchaseOrderFromUnpannedPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iserial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePurchaseOrderFromUnpannedPurchaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcAllModifiedPlans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcAllModifiedPlansResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalculateTblGeneratePurchaseHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q32:TblGeneratePurchaseHeader" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SalesOrders" nillable="true" type="q33:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalculateTblGeneratePurchaseHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="RecalculateTblGeneratePurchaseHeaderResult" nillable="true" type="q34:TblGeneratePurchaseHeader" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblGeneratePurchaseHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q35:TblGeneratePurchaseHeader" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SalesOrders" nillable="true" type="q36:ArrayOfint" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblGeneratePurchaseHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblGeneratePurchaseHeaderResult" nillable="true" type="q37:TblGeneratePurchaseHeader" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblGeneratePurchaseHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q38:TblGeneratePurchaseHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblGeneratePurchaseHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblGeneratePurchaseHeaderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q39:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderHeaderResult" nillable="true" type="q40:ArrayOfTblPurchaseOrderHeader" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SalesorderList" nillable="true" type="q41:ArrayOfKeyValueOfstringint" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="PurchaseRequestLink" nillable="true" type="q42:ArrayOfTblPurchaseRequestLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q43:TblPurchaseOrderHeader" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseOrderHeaderResult" nillable="true" type="q44:TblPurchaseOrderHeader" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q45:TblPurchaseOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderHeaderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q46:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderDetailResult" nillable="true" type="q47:ArrayOfTblPurchaseOrderDetail" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailBreakDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblPurchaseOrderDetailBreakDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblPurchaseOrderDetailBreakDownResult" nillable="true" type="q48:ArrayOfTblPurchaseOrderDetailBreakDown" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetailBreakDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q49:TblPurchaseOrderDetailBreakDown" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetailBreakDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderDetailBreakDownResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q50:TblPurchaseOrderDetail" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblPurchaseOrderDetailResult" nillable="true" type="q51:TblPurchaseOrderDetail" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetailCanceled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Iserial" type="xs:int" />
        <xs:element minOccurs="0" name="canceled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblPurchaseOrderDetailCanceledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q52:TblPurchaseOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblPurchaseOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblPurchaseOrderDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basePlan" type="xs:int" />
        <xs:element minOccurs="0" name="modifiedPlan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectPlansResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMarkupGroupProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q53:ArrayOfKeyValueOfstringanyType" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMarkupGroupProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblMarkupGroupProdResult" nillable="true" type="q54:ArrayOfTblMarkupGroupProd" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupGroupProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q55:TblMarkupGroupProd" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupGroupProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblMarkupGroupProdsResult" nillable="true" type="q56:TblMarkupGroupProd" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupGroupProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q57:TblMarkupGroupProd" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupGroupProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblMarkupGroupProdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMarkupProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valuesObjects" nillable="true" type="q58:ArrayOfKeyValueOfstringanyType" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMarkupProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblMarkupProdResult" nillable="true" type="q59:ArrayOfTblMarkup" />
        <xs:element minOccurs="0" name="fullCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q60:TblMarkupProd" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblMarkupProdResult" nillable="true" type="q61:TblMarkupProd" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q62:TblMarkupProd" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblMarkupProdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblTblMarkupTransProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="tblRecInv" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblTblMarkupTransProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblTblMarkupTransProdResult" nillable="true" type="q63:ArrayOfTblMarkupTransProd" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="entityList" nillable="true" type="q64:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q65:TblMarkupTransProd" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertTblMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertTblMarkupTransProdsResult" nillable="true" type="q66:TblMarkupTransProd" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q67:TblMarkupTransProd" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTblMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTblMarkupTransProdsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DyeingOrderInvoiceMarkupTransProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="RouteCardInvoiceHeader" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DyeingOrderInvoiceMarkupTransProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="DyeingOrderInvoiceMarkupTransProdResult" nillable="true" type="q68:ArrayOfTblDyeingOrderInvoiceMarkupTransProd" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="entityList" nillable="true" type="q69:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblRouteCardInvoiceMarkupTransProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="RouteCardInvoiceHeader" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblRouteCardInvoiceMarkupTransProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetTblRouteCardInvoiceMarkupTransProdResult" nillable="true" type="q70:ArrayOfRouteCardInvoiceMarkupTransProd" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="entityList" nillable="true" type="q71:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertRouteCardInvoiceMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q72:RouteCardInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertRouteCardInvoiceMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertRouteCardInvoiceMarkupTransProdsResult" nillable="true" type="q73:RouteCardInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteCardInvoiceMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q74:RouteCardInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteCardInvoiceMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRouteCardInvoiceMarkupTransProdsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="newRow" nillable="true" type="q75:TblDyeingOrderInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertDyeingOrderInvoiceMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertDyeingOrderInvoiceMarkupTransProdsResult" nillable="true" type="q76:TblDyeingOrderInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="outindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceMarkupTransProds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q77:TblDyeingOrderInvoiceMarkupTransProd" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDyeingOrderInvoiceMarkupTransProdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDyeingOrderInvoiceMarkupTransProdsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>