CCWFM/Service References/CRUDManagerService/CCWFM.Web.Service.Dto_s1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.Dto_s" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.Dto_s" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWareHouseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WareHouseDto" nillable="true" type="tns:WareHouseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWareHouseDto" nillable="true" type="tns:ArrayOfWareHouseDto" />
  <xs:complexType name="WareHouseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="WareHouseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WareHouseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WareHouseDto" nillable="true" type="tns:WareHouseDto" />
</xs:schema>