CCWFM/Service References/AssistanceService/AssistanceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
  <xs:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="SaveLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userIserial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MasterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="GetAttachmentResult" nillable="true" type="q1:ArrayOfTblAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="row" nillable="true" type="q2:TblAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttachmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="attachments" nillable="true" type="q3:ArrayOfTblAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="UpdateOrInsertAttachmentResult" nillable="true" type="q4:ArrayOfTblAttachment" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="attachmentPath" nillable="true" type="q5:ArrayOfTupleOfintstring" />
        <xs:element minOccurs="0" name="FolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>