CCWFM/Service References/AssistanceService/AssistanceService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfTblAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblAttachment" nillable="true" type="tns:TblAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblAttachment" nillable="true" type="tns:ArrayOfTblAttachment" />
  <xs:complexType name="TblAttachment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Iserial" type="xs:int" />
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrginalFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordId" type="xs:int" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TblAttachment" nillable="true" type="tns:TblAttachment" />
</xs:schema>