CCWFM/Service References/AssistanceService/AssistanceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:18559/Service/AssistanceOp/AssistanceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AssistanceService_SaveLog_InputMessage">
    <wsdl:part name="parameters" element="SaveLog" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_SaveLog_OutputMessage">
    <wsdl:part name="parameters" element="SaveLogResponse" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_getData_InputMessage">
    <wsdl:part name="parameters" element="getData" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_getData_OutputMessage">
    <wsdl:part name="parameters" element="getDataResponse" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_GetAttachment_InputMessage">
    <wsdl:part name="parameters" element="GetAttachment" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_GetAttachment_OutputMessage">
    <wsdl:part name="parameters" element="GetAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_DeleteAttachment_InputMessage">
    <wsdl:part name="parameters" element="DeleteAttachment" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_DeleteAttachment_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_UpdateOrInsertAttachment_InputMessage">
    <wsdl:part name="parameters" element="UpdateOrInsertAttachment" />
  </wsdl:message>
  <wsdl:message name="AssistanceService_UpdateOrInsertAttachment_OutputMessage">
    <wsdl:part name="parameters" element="UpdateOrInsertAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="AssistanceService">
    <wsdl:operation name="SaveLog">
      <wsdl:input wsaw:Action="urn:AssistanceService/SaveLog" message="AssistanceService_SaveLog_InputMessage" />
      <wsdl:output wsaw:Action="urn:AssistanceService/SaveLogResponse" message="AssistanceService_SaveLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="urn:AssistanceService/getData" message="AssistanceService_getData_InputMessage" />
      <wsdl:output wsaw:Action="urn:AssistanceService/getDataResponse" message="AssistanceService_getData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <wsdl:input wsaw:Action="urn:AssistanceService/GetAttachment" message="AssistanceService_GetAttachment_InputMessage" />
      <wsdl:output wsaw:Action="urn:AssistanceService/GetAttachmentResponse" message="AssistanceService_GetAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:input wsaw:Action="urn:AssistanceService/DeleteAttachment" message="AssistanceService_DeleteAttachment_InputMessage" />
      <wsdl:output wsaw:Action="urn:AssistanceService/DeleteAttachmentResponse" message="AssistanceService_DeleteAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertAttachment">
      <wsdl:input wsaw:Action="urn:AssistanceService/UpdateOrInsertAttachment" message="AssistanceService_UpdateOrInsertAttachment_InputMessage" />
      <wsdl:output wsaw:Action="urn:AssistanceService/UpdateOrInsertAttachmentResponse" message="AssistanceService_UpdateOrInsertAttachment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>