CCWFM/Service References/StyleService/StyleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:18559/Service/StyleService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:18559/Service/StyleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StyleService_RemoveSalesOrderApproval_InputMessage">
    <wsdl:part name="parameters" element="RemoveSalesOrderApproval" />
  </wsdl:message>
  <wsdl:message name="StyleService_RemoveSalesOrderApproval_OutputMessage">
    <wsdl:part name="parameters" element="RemoveSalesOrderApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="StyleService_InsertStyleImageFromFolder_InputMessage">
    <wsdl:part name="parameters" element="InsertStyleImageFromFolder" />
  </wsdl:message>
  <wsdl:message name="StyleService_InsertStyleImageFromFolder_OutputMessage">
    <wsdl:part name="parameters" element="InsertStyleImageFromFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="StyleService">
    <wsdl:operation name="RemoveSalesOrderApproval">
      <wsdl:input wsaw:Action="urn:StyleService/RemoveSalesOrderApproval" message="StyleService_RemoveSalesOrderApproval_InputMessage" />
      <wsdl:output wsaw:Action="urn:StyleService/RemoveSalesOrderApprovalResponse" message="StyleService_RemoveSalesOrderApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStyleImageFromFolder">
      <wsdl:input wsaw:Action="urn:StyleService/InsertStyleImageFromFolder" message="StyleService_InsertStyleImageFromFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:StyleService/InsertStyleImageFromFolderResponse" message="StyleService_InsertStyleImageFromFolder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>