CCWFM/Service References/StyleService/StyleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RemoveSalesOrderApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSalesOrderApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSalesOrderApprovalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStyleImageFromFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tblStyle" type="xs:int" />
        <xs:element minOccurs="0" name="styleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStyleImageFromFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStyleImageFromFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>