CCWFM/Service References/BankDepositService/BankDepositService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/BankDepositOp/BankDepositService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" />
  <xs:complexType name="StoreVisaMachineModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.DataLayer" base="q1:PropertiesViewModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankIserial" type="xs:int" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscountPercent" type="xs:decimal" />
          <xs:element minOccurs="0" name="EntityAccount" type="xs:int" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="MachineId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StoreIserial" type="xs:int" />
          <xs:element minOccurs="0" name="StoreVisaMachineIserial" type="xs:int" />
          <xs:element minOccurs="0" name="VisaMachineIserial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreVisaMachineModel" nillable="true" type="tns:StoreVisaMachineModel" />
</xs:schema>