CCWFM/Service References/BankDepositService/BankDepositService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.BankDepositOp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service.BankDepositOp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/BankDepositOp/BankDepositService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
  <xs:import schemaLocation="http://localhost:18559/Service/BankDepositOp/BankDepositService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" />
  <xs:complexType name="ArrayOfStoreVisaMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreVisaMachine" nillable="true" type="tns:StoreVisaMachine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreVisaMachine" nillable="true" type="tns:ArrayOfStoreVisaMachine" />
  <xs:complexType name="StoreVisaMachine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Models.Gl" base="q1:StoreVisaMachineModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntityCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" minOccurs="0" name="Store" nillable="true" type="q2:TblStore" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreVisaMachine" nillable="true" type="tns:StoreVisaMachine" />
</xs:schema>