CCWFM/Service References/BankDepositService/BankDepositService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/BankDepositOp/BankDepositService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:18559/Service/BankDepositOp/BankDepositService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfTblBankAccountTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankAccountType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankAccountTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankAccountTypeo0bgEGGO" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfTblBanko0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBank" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBanko0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBanko0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankChequeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankCheque" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankChequeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankChequeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostCentero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostCenter" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostCentero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostCentero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostCenterOptiono0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostCenterOption" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostCenterOptiono0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostCenterOptiono0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblAccounto0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblAccount" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblAccounto0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblAccounto0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblAccountTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblAccountType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblAccountTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblAccountTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblAssetGroupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblAssetGroup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblAssetGroupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblAssetGroupo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankStatDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankStatDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankStatDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankStatDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankTransactionTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankTransactionType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankTransactionTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankTransactionTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCurrencyTesto0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCurrencyTest" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCurrencyTesto0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCurrencyTesto0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblDepreciationMethodo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblDepreciationMethod" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblDepreciationMethodo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblDepreciationMethodo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblDepreciationTransactionHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblDepreciationTransactionHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblDepreciationTransactionHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblDepreciationTransactionHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblLedgerMainDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblLedgerMainDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblLedgerMainDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblLedgerMainDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostCenterTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostCenterType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostCenterTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostCenterTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlCashTransactionDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlCashTransactionDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlCashTransactionDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlCashTransactionDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlCashTransactionHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlCashTransactionHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlCashTransactionHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlCashTransactionHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCashDepositHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCashDepositHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCashDepositHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCashDepositHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblJournalAccountTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblJournalAccountType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblJournalAccountTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblJournalAccountTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlChequeTransactionDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlChequeTransactionDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlChequeTransactionDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlChequeTransactionDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlChequeStatuo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlChequeStatu" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlChequeStatuo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlChequeStatuo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlChequeTransactionHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlChequeTransactionHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlChequeTransactionHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlChequeTransactionHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlChequeTypeSettingo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlChequeTypeSetting" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlChequeTypeSettingo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlChequeTypeSettingo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblJournalo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblJournal" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblJournalo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblJournalo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblSequenceo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblSequence" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblSequenceo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblSequenceo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblJournalSettingo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblJournalSetting" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblJournalSettingo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblJournalSettingo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblJournalTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblJournalType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblJournalTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblJournalTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblLedgerMainDetail1o0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblLedgerMainDetail1" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblLedgerMainDetail1o0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblLedgerMainDetail1o0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblLedgerHeader1o0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblLedgerHeader1" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblLedgerHeader1o0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblLedgerHeader1o0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblMethodOfPaymento0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblMethodOfPayment" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblMethodOfPaymento0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblMethodOfPaymento0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblLedgerHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblLedgerHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblLedgerHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblLedgerHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCashDepositTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCashDepositType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCashDepositTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCashDepositTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblTenderTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblTenderType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblTenderTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblTenderTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostDimHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostDimHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostDimHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostDimHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostDimSetupHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostDimSetupHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostDimSetupHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostDimSetupHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlGenEntityGroupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlGenEntityGroup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlGenEntityGroupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlGenEntityGroupo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlRuleMainDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlRuleMainDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlRuleMainDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlRuleMainDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPostingProfileHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPostingProfileHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPostingProfileHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPostingProfileHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlCashTypeSettingo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlCashTypeSetting" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlCashTypeSettingo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlCashTypeSettingo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblMarkupGroupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblMarkupGroup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblMarkupGroupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblMarkupGroupo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblMarkupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblMarkup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblMarkupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblMarkupo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTBLITEMpriceo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TBLITEMprice" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTBLITEMpriceo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTBLITEMpriceo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblStoreo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblStore" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblStoreo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblStoreo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblItemDownLoadDefo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblItemDownLoadDef" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblItemDownLoadDefo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblItemDownLoadDefo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblShopAcco0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblShopAcc" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblShopAcco0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblShopAcco0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblShopReqHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblShopReqHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblShopReqHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblShopReqHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblShopCommento0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblShopComment" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblShopCommento0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblShopCommento0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblColorTesto0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblColorTest" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblColorTesto0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblColorTesto0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblSizeRetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblSizeRetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblSizeRetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblSizeRetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBrandStoreTargetHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBrandStoreTargetHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBrandStoreTargetHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBrandStoreTargetHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTBLsuppliero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TBLsupplier" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTBLsuppliero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTBLsuppliero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblRecInvHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblRecInvHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblRecInvHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblRecInvHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblRecInvHeaderTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblRecInvHeaderType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblRecInvHeaderTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblRecInvHeaderTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPO1MainDetailo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPO1MainDetail" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPO1MainDetailo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPO1MainDetailo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPO1Headero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPO1Header" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPO1Headero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPO1Headero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPOHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPOHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPOHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPOHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblUsero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblUser" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblUsero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblUsero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPositionRouteHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPositionRouteHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPositionRouteHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPositionRouteHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTBLEVENTUALHEADERo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TBLEVENTUALHEADER" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTBLEVENTUALHEADERo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTBLEVENTUALHEADERo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPromoCriteriao0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPromoCriteria" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPromoCriteriao0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPromoCriteriao0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblPromoHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblPromoHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblPromoHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblPromoHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblSalaryApprovalHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblSalaryApprovalHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblSalaryApprovalHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblSalaryApprovalHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblSalaryTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblSalaryType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblSalaryTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblSalaryTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblStoreCommissiono0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblStoreCommission" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblStoreCommissiono0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblStoreCommissiono0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblVisaMachineo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblVisaMachine" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblVisaMachineo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblVisaMachineo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankStatHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankStatHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankStatHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankStatHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankTransactionTypeGroupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankTransactionTypeGroup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankTransactionTypeGroupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankTransactionTypeGroupo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblInventAccountTypeo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblInventAccountType" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblInventAccountTypeo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblInventAccountTypeo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblCostAllocationMethodo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblCostAllocationMethod" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblCostAllocationMethodo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblCostAllocationMethodo0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblGlRuleHeadero0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblGlRuleHeader" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblGlRuleHeadero0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblGlRuleHeadero0bgEGGO" />
  <xs:complexType name="EntityReferenceOfTblBankGroupo0bgEGGO">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TblBankGroup" Namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTblBankGroupo0bgEGGO" nillable="true" type="tns:EntityReferenceOfTblBankGroupo0bgEGGO" />
</xs:schema>