CCWFM/Service References/ProductionService/ProductionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ProductionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="" location="http://localhost:18559/Service/Production/ProductionService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_ProductionService" type="ProductionService">
    <wsp:PolicyReference URI="#CustomBinding_ProductionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteTblStyleTNAColorDetail">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblStyleTNAColorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNAColorDetail">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleTNAColorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblStyleTNAColorDetail">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblStyleTNAColorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTnaStatus">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleTnaStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblStyleTNAStatusDetail">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblStyleTNAStatusDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNAStatusDetail">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleTNAStatusDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblUsersStyleTNAStatus">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblUsersStyleTNAStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblUsersStyleTNAStatus">
      <soap12:operation soapAction="urn:ProductionService/GetTblUsersStyleTNAStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblUsersStyleTNAStatus">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblUsersStyleTNAStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblUsersApprovalStatus">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblUsersApprovalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblUsersApprovalStatus">
      <soap12:operation soapAction="urn:ProductionService/GetTblUsersApprovalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblUsersApprovalStatus">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblUsersApprovalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleLookup">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StyleTnaCount">
      <soap12:operation soapAction="urn:ProductionService/StyleTnaCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblStyleTNAHeader">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblStyleTNAHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNAHeader">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleTNAHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestStyleTna">
      <soap12:operation soapAction="urn:ProductionService/RequestStyleTna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblStyleTNADetail">
      <soap12:operation soapAction="urn:ProductionService/GetTblStyleTNADetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblStyleTNAHeader">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblStyleTNAHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckContractDeliveryDate">
      <soap12:operation soapAction="urn:ProductionService/CheckContractDeliveryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAttachFile">
      <soap12:operation soapAction="urn:ProductionService/DownloadAttachFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderHeader">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderHeader">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderHeader">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderTransaction">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderTransaction">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderTransaction">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderFabric">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderFabric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderFabric">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderFabric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderFabric">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderFabric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderService">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderService">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderService">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderInvoiceHeader">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderInvoiceHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderInvoiceHeader">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderInvoiceHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderInvoiceHeader">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderInvoiceHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderInvoiceDetail">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderInvoiceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderInvoiceDetail">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderInvoiceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderInvoiceDetail">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderInvoiceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionOrderServicePending">
      <soap12:operation soapAction="urn:ProductionService/GetProductionOrderServicePending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProductionOrderInvoice">
      <soap12:operation soapAction="urn:ProductionService/SearchProductionOrderInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblProductionOrderInvoiceMarkupTransProd">
      <soap12:operation soapAction="urn:ProductionService/GetTblProductionOrderInvoiceMarkupTransProd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblProductionOrderInvoiceMarkupTransProds">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblProductionOrderInvoiceMarkupTransProds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblProductionOrderInvoiceMarkupTransProds">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblProductionOrderInvoiceMarkupTransProds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTblProductionOrderInvoiceHeader">
      <soap12:operation soapAction="urn:ProductionService/PostTblProductionOrderInvoiceHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblTradeAgreementTransaction">
      <soap12:operation soapAction="urn:ProductionService/GetTblTradeAgreementTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblTradeAgreementDetailListFabricView">
      <soap12:operation soapAction="urn:ProductionService/GetTblTradeAgreementDetailListFabricView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItemForTradeAgreement">
      <soap12:operation soapAction="urn:ProductionService/SearchItemForTradeAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTradeAgreement">
      <soap12:operation soapAction="urn:ProductionService/SaveTradeAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTradeAgreementHeader">
      <soap12:operation soapAction="urn:ProductionService/DeleteTradeAgreementHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTblTradeAgreementDetailList">
      <soap12:operation soapAction="urn:ProductionService/GetTblTradeAgreementDetailList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrInsertTblTradeAgreementDetail">
      <soap12:operation soapAction="urn:ProductionService/UpdateOrInsertTblTradeAgreementDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTblTradeAgreementDetail">
      <soap12:operation soapAction="urn:ProductionService/DeleteTblTradeAgreementDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductionService">
    <wsdl:port name="CustomBinding_ProductionService" binding="tns:CustomBinding_ProductionService">
      <soap12:address location="http://localhost:18559/Service/Production/ProductionService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:18559/Service/Production/ProductionService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>