CCWFM/Service References/UserDomains/UserDomains1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18559/Service/UserDomains.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service" />
  <xs:element name="GetADUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetADUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCWFM.Web.Service" minOccurs="0" name="GetADUsersResult" nillable="true" type="q1:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>